@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;500&display=swap');

body {
    font-family: 'Montserrat','Roboto', 'Arial', sans-serif;
    line-height: 2;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    max-width: 960px;
    margin: 20px auto;
}

header, 
nav,
footer {
  background-color: #377e9c9d;
}

section {
  background-color: #75e6dba8;
  padding: 20px;
}

table {
  background-color: #778e9988;
  padding: 0 10px;
}

a,
a:link {
  color: rgb(194, 151, 42);
}

a:visited {
  color: #8f2b9c; 
}

a:hover {
  color: rgb(201,53,68);
}

a:active {
  color: rgb(245,188,78);
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "introduction"
    "people"
    "government"
    "environment";
    grid-gap: 20px;
}

#people {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: 
  "masthead     masthead"
  "ethnicity    age"
  "population   population";
}

#people > h2 {
  grid-area: masthead;
}

#ethnic {
  grid-area: ethnicity;
}

#age {
  grid-area: age;
}

#pop {
  grid-area: population;
}

#government {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas:  
  "masthead masthead"
  "name   name"
  "flag   flag"
  "symbols  colors";
}

#government > h2 {
  grid-area: masthead;
}

#name {
  grid-area: name;
}

#flag {
  grid-area: flag;
}

#symbols {
  grid-area: symbols;
}

#colors {
  grid-area: colors;
}

header,
footer {
  padding: 0 20px;
  grid-column: 1 / -1;
} 

nav {
    line-height: 2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

figure {
  margin: 20px auto;
}

figcaption {
  font-size: 14px;
}